language: node_js
sudo: required
node_js:
- '7.8.0'
before_install:
- sh etc/travis-setup.sh
script: "sh bin/test"
after_script: heroku keys:remove $USER@`hostname`
env:
  - HEROKU_EXEC_TEST_ENV=prod
  - HEROKU_EXEC_TEST_ENV=staging
